## Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [1]:
import re

string = "Python Exercises, PHP exercises."
pattern = "[ ,.]"
new_string = re.sub(pattern, ":", string)

print(new_string)

Python:Exercises::PHP:exercises:

## Question 2 - Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [2]:
import pandas as pd

# creating the dic
string_dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

#creating the dataframe
df = pd.DataFrame(string_dict)

# function to remmove 
def remove_special_character(value):
    new_string = re.sub(r"[^\w\s]|^XXXXX\s|[\d]", "", value)
    return new_string
df['SUMMARY'] = df['SUMMARY'].apply(remove_special_character)
df

         SUMMARY
0    hello world
1           test
2  four five six

## Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [3]:
# Creating a function to find all substrings that are at least 4 characters long in a given string.
def find_atleast_4_char_strings(string):
    # compile regular pattern     
    compile_pattern = re.compile(r"\b\w{4,}\b")
    return compile_pattern.findall(strings)
    
strings = "This is the example of finding atleast 4 char long strings from the given strings."
findings = find_atleast_4_char_strings(strings)
findings

['This',
 'example',
 'finding',
 'atleast',
 'char',
 'long',
 'strings',
 'from',
 'given',
 'strings']

## Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [4]:
# Create a function to find the strings between 3 to 5 characters in the given string.
def find_the_substrings(strings):
    # compile regular pattern 
    compile_pattern = re.compile(r"\b\w{3,5}\b")
    return compile_pattern.findall(strings)

strings = "This is the example of finding atleast 4 char long strings from the given strings."
finding = find_the_substrings(strings)
finding

['This', 'the', 'char', 'long', 'from', 'the', 'given']

## Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [5]:
# creating the function to remove the parenthesis in the list of strings.
def remove_parenthesis_in_strings(strList):
    compile_pattern = re.compile(r"[\(\)]")
    return [re.sub(compile_pattern, "", string) for string in strList]

strList = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
new_list = remove_parenthesis_in_strings(strList)

for string in new_list:
    print(string)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

## Question 6

In [6]:
# creating the function to read the file
def read_the_file(input_from_file):
    
    pattern = r"\s\(.*\)"
    new_line = []
    # read the file     
    with open(input_from_file, 'r') as file:
        for line in file:
            remove_parenthesis = re.sub(pattern, "", line.strip())
            new_line.append(remove_parenthesis)
        return new_line

# Sample text
input_from_file = "sample.txt"
removed_parenthesis = read_the_file(input_from_file)
removed_parenthesis

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

## Question 7

In [7]:
# create the function to split the strings by uppercase
def split_strings_by_uppercase(string):
    pattern = r"(?<!^)(?=[A-Z])" # Positive lookbehind and lookahead for uppercase letters
    return re.split(pattern, string)

strings = "ImportanceOfRegularExpressionsInPython"
split_string = split_strings_by_uppercase(strings)
print(split_string)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

## Question 8

In [8]:
# create the function to insert spaces between words starting with numbers
def space_between_words(string):
    pattern = r"(?<!^)(?=[0-9])"
    return re.split(pattern, string)

strings = "RegularExpression1IsAn2ImportantTopic3InPython"
split_string = space_between_words(strings)

for new_string in split_string:
    print(new_string, end=" ")

RegularExpression 1IsAn 2ImportantTopic 3InPython

## Question 9

In [9]:
# create the function to insert spaces before digit and after digit 
def space_before_after_digit(string):
    pattern = r"([A-Z0-9])(?=[A-Z])"
    return re.split(pattern, string)

strings = "RegularExpression1IsAn2ImportantTopic3InPython"
split_digit = space_before_after_digit(strings)

for new_digit in split_digit:
    print(new_digit, end=" ")

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

## Question 10

In [10]:
import pandas as pd
df = pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

# fetching the first 6 letter
def fetch_first_letter(string):
    pattern = r"^[A-Za-z]{1,6}"
    return re.match(pattern,string).group()

df['first_five_letters'] = df['Country'].apply(fetch_first_letter)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

## Question 11

In [11]:
# create the function to match the Upper,Lower,numbers, and underscores 
def match_upper_lower_number_underscores(string):
    pattern = r"^[a-zA-Z0-9_]*$"
    match_group = re.match(pattern, string)
    if match_group:
        return match_group.group()
    return None

strings = ["HelloWorld123", "$$$$$$$$$", "invalid$tring", "123numbers"]
for string in strings:
    match_string = match_upper_lower_number_underscores(string)
    print(match_string)

HelloWorld123
None
None
123numbers

## Question 12

In [12]:
# Create a function to match strings where digits are present at the beginning of the strings.
def match_first_digit_string(string):
    pattern = r"^[0-9]\w*$"
    match_group = re.match(pattern, string)
    if match_group:
        return match_group.group()
    return None

strings = ["HelloWorld123", "$$$$$$$$$", "invalid$tring", "123numbers"]
for string in strings:
    match_string = match_first_digit_string(string)
    print(match_string)

None
None
None
123numbers

## Question 13

In [13]:
# Create a function to match strings where digits are present at the beginning of the strings.
def match_first_digit_string(string):
    pattern = r"^0*"
    match_group = re.sub(pattern, "", string)
    if match_group:
        return match_group
    return string

match_string = []
strings = r"255.001.040.001"
split_strings = strings.split(".") # ['255', '001', '040', '001']
for string in split_strings:
    match_string.append(match_first_digit_string(string))
    match_string
match_string = '.'.join(match_string)
match_string

'255.1.40.1'

## Question 14

In [14]:
# creating the function to match the date format in the given strings.
def match_date_strings(file_name_text):
    pattern = r"(?P<month>\b[A-Z][a-z]{2,8})\s+(?P<day>\d+(?:st|nd|rd|th)?)\s+(?P<year>\d{4})"
    with open(file_name_text, 'r') as file:
        read_text = file.read()
        match = re.search(pattern, read_text)
        if match:
            return match.group()
        else:
            return None

filename = "sample_date.txt"
date_format = match_date_strings(filename)
date_format

'August 15th 1947'

## Question 15

In [15]:
# creating the function to search the literal words from given strings
def search_literal_words(strings, searching_words):
    pattern = r"\b(" + "|".join(searching_words) + r")\b"
    return re.findall(pattern, strings)

strings = r'The quick brown fox jumps over the lazy dog.'
searching_words = ['fox', 'dog', 'horse']
search_word = search_literal_words(strings, searching_words)
search_word

['fox', 'dog']

## Question 16

In [16]:
# creating the function to search the literal words with index from given strings
def search_literal_words(strings, searching_word):
    pattern = fr"\b{searching_word}\b"
    match = re.search(pattern, strings)
    if match:
        return searching_word, match.start()
    else:
        return None
strings = r'The quick brown fox jumps over the lazy dog.'
searching_word = 'fox'
search_word, index = search_literal_words(strings, searching_word)
print(f"This word {search_word} present at index {index}")

This word fox present at index 16

## Question 17

In [17]:
# creating the function to find substring from the given strings
def search_substrings(strings, substring):
    pattern = fr"{substring}"
    match = re.findall(pattern, strings)
    return match

strings = r'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
new_substrig = search_substrings(strings, substring)
new_substrig

['exercises', 'exercises', 'exercises']

## Question 18

In [18]:
# creating the function to find substring from the given strings
def search_substrings(strings, substring):
    pattern = fr"{substring}"
    matches = re.search(pattern, strings)
    count_occurrences = len(re.findall(pattern, strings))
    return matches.start(), count_occurrences

strings = r'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
index, occurrences = search_substrings(strings, substring)
print(f"The search for the word started from index {index}, and the occurrences of the search string are: {occurrences}.")

The search for the word started from index 7, and the occurrences of the search string are: 3.

## Question 19

In [19]:
# creating the function to convert date format into dd-mm-yyyy
def date_format(date_string):
    pattern = r"^\d{4}-\d{2}-\d{2}?"
    match = re.match(pattern, date_string)
    if match:
        return "-".join(match.string.split("-")[::-1])
    else:
        return False

date_string = r"2000-01-18"
converted_string = date_format(date_string)
converted_string

'18-01-2000'

## Question 20

In [20]:
# Creating the function to fetch the decimal numbers with precision of 1 or 2.
def decimal_precision(list_strings):
    compile_pattern = re.compile(r"^\d{1,4}.\d{1,2}")
    new_list = []
    for string in list_strings:
        match = compile_pattern.match(string)
        new_list.append(match.group())
    return new_list
    

strings = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
list_strings = strings.split(" ")
match = decimal_precision(list_strings)
match

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

## Question 21

In [21]:
# Creating the function to separate the numbers and print posi with numbers.
def separate_numbers_position(strings):
    pattern = r"\d+"
    for match in re.finditer(pattern, strings):
        start_index, end_index = match.span()
    return f"Number: {match.group()} Index: [{start_index}:{end_index}]"

strings = "This string contained 21 characters."
match = separate_numbers_position(strings)
match

'Number: 21 Index: [22:24]'

## Question 22

In [22]:
# Creating the function to find out lagest number in the given strings.
def find_out_lagest_value(strings):
    pattern = r"\d+"
    list_value = []
    for match in re.finditer(pattern, strings):
        list_value.append(int(match.group()))
    return max(list_value)
    
    
strings = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
lagest_number = find_out_lagest_value(strings)
print(f"This is the largest number: {lagest_number}.")

This is the largest number: 950.

## Question 23

In [23]:
#creating the function to insert the spaces between capital alphabets.
def insert_spaces_between_capital_alphabets(strings):
    pattern = r"(?<!^)(?=[A-Z])"
    match = re.sub(pattern, " ", strings)
    return match
    
    
strings = r"RegularExpressionIsAnImportantTopicInPython"
match = insert_spaces_between_capital_alphabets(strings)
match

'Regular Expression Is An Important Topic In Python'

## Question 24

In [24]:
# Creating the function to find the uppercase strings followed by lowercase strings.
def find_uppercase_followed_lowercase(strings):
    pattern = r"[A-Z][a-z]+"
    new_list = []
    for string in strings:
        match = re.findall(pattern, string)
        if match:
            new_list.append(match)
    return new_list
        
    
strings = r"Regular Expresion is an Important Topic in Python"
list_strings = strings.split(" ")
matches = find_uppercase_followed_lowercase(list_strings)
for match in matches:
    print(match)

['Regular']
['Expresion']
['Important']
['Topic']
['Python']

## Question 25

In [25]:
# Creating the function to remove the duplication continuous words.
def remove_duplicate_words(strings):
    pattern = r"\b(\w+)(?:\s+\1\b)+"
    match = re.sub(pattern, r"\1", strings)
    return match
        
    
strings = r"Hello hello world world"
matches = remove_duplicate_words(strings)
matches

'Hello hello world'

## Question 26

In [26]:
# Creating the function to accept the string ending with alphanumeric character.
def accept_strnumeric(list_strings):
    pattern = r"[A-Za-z0-9]+\d\w+"
    new_list = []
    for string in list_strings:
        match = re.match(pattern, string)
        if match:
            new_list.append(match.group())
    return new_list

strings = r"randomString123 python_is_great! 123welcome"
list_strings = strings.split(" ")
match = accept_strnumeric(list_strings)
match

['randomString123', '123welcome']

## Question 27

In [27]:
# Creating the function to fetch the hashtags string.
def find_hashtags_strings(list_strings):
    pattern = r"#\w+"
    new_list = []
    for string in list_strings:
        match = re.match(pattern, string)
        if match:
            new_list.append(match.group())
    return new_list

strings = r"""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
list_strings = strings.split(" ")
match = find_hashtags_strings(list_strings)
match

['#Doltiwal', '#xyzabc', '#Demonetization']

## Question 28

In [28]:
# Creating the function to remove the <U+....> from given strings.
def remove_specific_strings(strings):
    pattern = r"<U\+0{2}\w{1,2}>"
    match = re.sub(pattern, "", strings)
    return match

strings = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
match = remove_specific_strings(strings)
match

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

## Question 29

In [29]:
# Create a function to fetch date from given txt file.
def fetch_date_from_txt(file_name):
    pattern = r"\b[\d]{2}-[\d]{2}-[\d]{4}"
    with open(file_name, 'r') as file:
        file_read = file.read()
        match = re.findall(pattern, file_read)
    return match
        
file_name = "fetch_date.txt"
match = fetch_date_from_txt(file_name)
match

['12-09-1992', '15-12-1999']

## Question 30

In [30]:
# Create a function to remove all words containing two to four characters from the given string.
def remove_all_words_contained_two_four_char(strings):
    compile_pattern = re.compile(r"\b\w{2,4}\s\b")
    match = compile_pattern.sub("",strings)
    if match:
        return match
    return False

strings = r"The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
match = remove_all_words_contained_two_four_char(strings)
match

'following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.'