In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\us953\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\us953\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\us953\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\us953\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\us953\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\us953\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: outcome in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=23.2.0 in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: exceptiongroup in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: sortedcontainers in c:\users\us953\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\us953\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\us953\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\us953\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\us953\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# Importing all important module
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from time import sleep

### Q1

In [8]:
# create function to fetch all the details and return in list format.
def fetch_job_details(values):
    i = 0
    list_value = []
    for value in values:
        if i == 10:
            break
        i = i+1
        list_value.append(value.text)
    return list_value

# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.shine.com/')

# find element of search and click
driver.find_element(By.ID,'webSearchBar').click()
sleep(2)

# find the title element and input the value.
driver.find_element(By.XPATH,"//div[@class='position-relative']//input").send_keys('Data Analyst')
sleep(2)

# find location element and click it
driver.find_element(By.ID, "select_container_id_loc").click()

# find and input the value for location
driver.find_element(By.XPATH,"//div[@id='select_container_id_loc']//input").send_keys('Bangalore')
sleep(2)

# find search button and click it.
driver.find_element(By.XPATH, '//button[@class=" btn btn-secondary undefined"]').click()
    
# job title details
titles = driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]')

# job location details
job_locations = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

# company name details
companies_name = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]//span')

# job Experience details
exp_required = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

# creating list of all the data
data = [titles, job_locations, companies_name, exp_required]

# store the data into dic format
details = {"Job Title" : fetch_job_details(data[0]), "Job Location" : fetch_job_details(data[1]), "Company Name" : fetch_job_details(data[2]), "Experience Required" : fetch_job_details(data[3])}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

Empty DataFrame
Columns: [Job Title, Job Location, Company Name, Experience Required]
Index: []

### Q2

In [9]:
# create function to fetch all the details and return in list format.
def fetch_job_details(values):
    i = 0
    list_value = []
    for value in values:
        if i == 10:
            break
        i = i+1
        list_value.append(value.text)
    return list_value


# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.naukri.com/')

# find element of search and input the value
driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input').send_keys('Data Analyst')
sleep(2)

# find location element and input the value
driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input").send_keys('Bangalore')
sleep(2)

# find search button and click it.
driver.find_element(By.XPATH, '//div[@class="qsbSubmit"]').click()
sleep(5)
    
# job title details
titles = driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]//div[1]//a[1]')
    
# job location details
job_locations = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')


# company name details
companies_name = driver.find_elements(By.XPATH, '//span[@class=" comp-dtls-wrap"]//a[1]')

# job Experience details
exp_required = driver.find_elements(By.XPATH, '//span[@class="expwdth"]')

# creating list of all the data
data = [titles, job_locations, companies_name, exp_required]

# store the data into dic format
details = {"Job Title" : fetch_job_details(data[0]), "Job Location" : fetch_job_details(data[1]), "Company Name" : fetch_job_details(data[2]), "Experience Required" : fetch_job_details(data[3])}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,"Hybrid - Kolkata, Bengaluru",Ltimindtree,12-17 Yrs
1,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
2,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
3,Field Programs Data Analyst,Bengaluru,Salesforce,2-5 Yrs
4,Data Analyst,Bengaluru,ANZ,1-5 Yrs
5,Data Analyst,Bengaluru,TMF Group,2-4 Yrs
6,Field Programs Data Analyst,Bengaluru,Tableau Software,2-5 Yrs
7,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
8,Data Analyst,Hybrid - Bengaluru,Two95 International Staffing Services,5-8 Yrs
9,Posted by Recruise India Consulting,Bangalore Rural,Kaplan Test Prep,7-12 Yrs

### Q3

In [11]:
# creating the function to fetch the details of products and return it in list format.
def fetching_product_details(values):
    value_count = 0
    list_value = []
    for page in range(0,3):
        for value in values:
            if value_count == 100:
                break
            value_count += 1
            list_value.append(value.text)
        driver.find_element(By.XPATH, '//a[@class="_9QVEpD"]')
        sleep(2)
    return list_value

# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.flipkart.com/')

# find element of search and input the value
driver.find_element(By.XPATH,'//input[@class="Pke_EE"]').send_keys('sunglasses')
sleep(2)

# find location element and click it
driver.find_element(By.XPATH, '//button[@class="_2iLD__"]').click()
sleep(2)

# finding the element and fetching the brand name.
brand_name = driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')

# finding the element and fetching the description of product.
descriptions = driver.find_elements(By.XPATH, '//a[@class="WKTcLC BwBZTg" or @class="WKTcLC"]')

# finding the element and fetching the price of product.
prices = driver.find_elements(By.XPATH, '//a[@class="+tlBoD"]//div[@class="hl05eU"]')

# creating list of all the data
data = [brand_name, descriptions, prices]

# store the data into dic format
details = {"Brand Name" : fetching_product_details(data[0]), "Description" : fetching_product_details(data[1]), "Price" : fetching_product_details(data[2])}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Brand Name,Description,Price
0,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹487₹1,99975% off"
1,john jacobs,UV Protection Round Sunglasses (51),"₹2,316₹6,00061% off"
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹503₹99949% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149₹59975% off
4,PIRASO,UV Protection Aviator Sunglasses (Free Size),"₹303₹1,59981% off"
...,...,...,...
95,MagJons,Mirrored Round Sunglasses (55),₹290₹99970% off
96,elegante,UV Protection Retro Square Sunglasses (Free Size),"₹314₹1,49979% off"
97,VINCENT CHASE,"by Lenskart UV Protection, Polarized Over-size...","₹1,049₹1,99947% off"
98,Elligator,"UV Protection Wayfarer, Retro Square Sunglasse...",₹179₹99982% off
99,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹522₹99947% off