In [15]:
# Importing all important module
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re

### Q1 https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [59]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

# find element of search and input the value
table = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]')
sleep(2)

rank = 1
rank_list = []
name = []
artist = []
upload_date = []
views = []
rows = table.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr')
for row_num in range(1, len(rows) + 1):  # Adjust the range based on the expected number of rows
    xpath = f'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[{row_num}]/td'
    columns = driver.find_elements(By.XPATH, xpath)
    rank_list.append(rank)
    name.append(columns[0].text.split("[")[0])
    artist.append(columns[1].text)
    views.append(columns[2].text)
    upload_date.append(columns[3].text)
    rank += 1

# store the data into dic format
details = {"Rank" : rank_list, "Name" : name, "Artist" : artist, "Views" : views, "Upload Date" : upload_date}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Rank,Name,Artist,Views,Upload Date
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,14.52,"June 17, 2016"
1,2,"""Despacito""",Luis Fonsi,8.44,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,6.91,"October 8, 2016"
3,4,"""Bath Song""",Cocomelon - Nursery Rhymes,6.70,"May 2, 2018"
4,5,"""See You Again""",Wiz Khalifa,6.27,"April 6, 2015"
5,6,"""Shape of You""",Ed Sheeran,6.26,"January 30, 2017"
6,7,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,6.13,"May 24, 2018"
7,8,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,5.80,"March 6, 2014"
8,9,"""Uptown Funk""",Mark Ronson,5.23,"November 19, 2014"
9,10,"""Gangnam Style""",Psy,5.15,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,5.11,"February 27, 2018"
11,12,"""Dame Tu Cosita""",Ultra Records,4.63,"April 5, 2018"
12,13,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.58,"January 31, 2012"
13,14,"""Axel F""",Crazy Frog,4.54,"June 16, 2009"
14,15,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,4.05,"June 25, 2018"
15,16,"""Sugar""",Maroon 5,4.05,"January 14, 2015"
16,17,"""Lakdi Ki Kathi""",Jingle Toons,4.04,"June 14, 2018"
17,18,"""Counting Stars""",OneRepublic,4.02,"May 31, 2013"
18,19,"""Roar""",Katy Perry,4.00,"September 5, 2013"
19,20,"""Waka Waka (This Time for Africa)""",Shakira,3.93,"June 4, 2010"
20,21,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,3.84,"May 10, 2011"
21,22,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.81,"January 26, 2018"
22,23,"""Sorry""",Justin Bieber,3.80,"October 22, 2015"
23,24,"""Thinking Out Loud""",Ed Sheeran,3.77,"October 7, 2014"
24,25,"""Perfect""",Ed Sheeran,3.74,"November 9, 2017"
25,26,"""Dark Horse""",Katy Perry,3.72,"February 20, 2014"
26,27,"""Let Her Go""",Passenger,3.66,"July 25, 2012"
27,28,"""Faded""",Alan Walker,3.63,"December 3, 2015"
28,29,"""Girls Like You""",Maroon 5,3.61,"May 31, 2018"
29,30,"""Lean On""",Major Lazer Official,3.60,"March 22, 2015"

### Q2 https://www.bcci.tv/

In [11]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.bcci.tv/')

fixture_element = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,'//*[@id="imw-international-men"]/a[2]')))

date_list = []
time_list = []
series_list = []
place_list = []

# find element and click on it
fixture_element.click()
sleep(5)

cards = driver.find_elements(By.XPATH, '//div[@class="match-info"]')
sleep(2)

for card in cards:
    lines = card.text.strip().split('\n')
    
    # Extract the required information
    date = lines[0]
    time = lines[1]
    series = lines[2]
    place = lines[5]
    
    # store values in list
    date_list.append(date)
    time_list.append(time)
    series_list.append(series)
    place_list.append(place)

# store the data into dic format
details = {"Date" : date_list, "Time" : time_list, "Series" : series_list, "Place" : place_list}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Date,Time,Series,Place
0,9 Jun,20:00 IST,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N..."
1,12 Jun,20:00 IST,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N..."
2,13 Jun,13:30 IST,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru"
3,15 Jun,20:00 IST,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,..."
4,16 Jun,13:30 IST,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium, Bengaluru"

### Q3 https://statisticstimes.com/

In [3]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://statisticstimes.com/')


india_element = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div//a[3]')
indian_url = india_element.get_attribute('href')

# economy page
driver.get(indian_url)

# finding the element and click on indian state-wise GDP
GDP_list = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

# getting the GDP page link
state_page = GDP_list.get_attribute('href')
driver.get(state_page)

https://statisticstimes.com/economy/india/indian-states-gdp.php

### Q4 https://github.com/

In [14]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://github.com/')

# fetching the url of trending page.
trending_page = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
url = trending_page.get_attribute('href')

# trending page
driver.get(url)

# initization of lists.
title_list = []
description_list = []
language_list = []

boxs = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')
sleep(2)
for box in boxs:
    lines = box.text.strip().split('\n')[1:]
    
    title = lines[0]
    description = lines[1]
    language = lines[2].split(' ')
    
    title_list.append(title)
    description_list.append(description)
    language_list.append(language[0])

# store the data into dic format
details = {"Repository title" : title_list, "Repository description" : description_list, "Language used " : language_list}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Repository title,Repository description,Language used
0,LazyVim / LazyVim,Neovim config for the lazy,Lua
1,karpathy / nanoGPT,"The simplest, fastest repository for training/...",Python
2,Star,coollabsio / coolify,An
3,Star,xenova / transformers.js,State-of-the-art
4,piku / piku,The tiniest PaaS you've ever seen. Piku allows...,Python
5,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"272,531"
6,openai / gpt-2,"Code for the paper ""Language Models are Unsupe...",Python
7,Star,blakeblackshear / frigate,NVR
8,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,Shell
9,poteto / hiring-without-whiteboards,⭐️ Companies that don't have a broken hiring p...,JavaScript
10,Star,jackyzha0 / quartz,🌱
11,aws / amazon-sagemaker-examples,Example 📓 Jupyter notebooks that demonstrate h...,Jupyter
12,Star,litestar-org / litestar,"Production-ready,"
13,paul-gauthier / aider,aider is AI pair programming in your terminal,Python
14,python-poetry / poetry,Python packaging and dependency management mad...,Python
15,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,TypeScript
16,lllyasviel / stable-diffusion-webui-forge,"Python 5,054 478 Built by",77
17,EricLBuehler / mistral.rs,Blazingly fast LLM inference.,Rust

### Q5 https://www.billboard.com/

In [8]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.billboard.com/')
sleep(3)

# chart menu click.
chart = driver.find_element(By.XPATH, '//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
url = chart.get_attribute('href')

# chart page
driver.get(url)
sleep(3)

# hot page
hot_page_url = driver.find_element(By.XPATH, '//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
url = hot_page_url.get_attribute('href')


driver.get(url)
sleep(2)

song_name = []
artist_name = []
last_week = []
peak_rank = []
weeks_board = []

boxs = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
for box in boxs:
    lines = box.text.strip().split('\n')
    
    # Song name
    if lines[1] != 'NEW':
        # Song name
        song_name.append(lines[1])
        
        # Artist name
        artist_name.append(lines[2])
    
        # Last week rank
        last_week.append(lines[3])
    
        # Peak rank 
        peak_rank.append(lines[4])
    
        # Weeks on board
        weeks_board.append(lines[5])
    else:
        # Song name
        song_name.append(lines[2])
        
        # Artist name
        artist_name.append(lines[3])
    
        # Last week rank
        last_week.append(lines[4])
    
        # Peak rank 
        peak_rank.append(lines[5])
    
        # Weeks on board
        weeks_board.append(lines[6])

# store the data into dic format
details = {"Song Name" : song_name, "Artist Name" : artist_name, "Last Week Rank" : last_week, "Peak Rank" : peak_rank, "Weeks Board" : weeks_board}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks Board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

### Q6 https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [45]:
# initial driver
driver = webdriver.Chrome()

# open chrome
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
sleep(3)

book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

tr = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr')
count = len(tr)
for i in range(1, count+1):
    
    xpath = f'//*[@id="article-body-blocks"]/div/table/tbody/tr[{i}]//td'
    columns = driver.find_elements(By.XPATH, xpath)
    
    # Book Name
    book_name.append(columns[1].text)
    
    # Author Name
    author_name.append(columns[2].text)
    
    # Volumes Sold  
    volumes_sold.append(columns[3].text)
    
    # Publisher
    publisher.append(columns[4].text)
    
    # Genre    
    genre.append(columns[5].text)

# store the data into dic format
details = {"Book Name" : book_name, "Author Name" : author_name, "Volumes Sold" : volumes_sold, 
           "Publisher" : publisher, "Genre" : genre}

# creating the dataframe and storing all the data into dataframe.
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# printing the DataFrame
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q7 https://www.imdb.com/list/ls095964455/ - This link is not working

### Q8 https://archive.ics.uci.edu/

In [91]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep
import pandas as pd

# Initialize Chrome WebDriver
driver = webdriver.Chrome()

# Open UCI Machine Learning Repository
driver.get('https://archive.ics.uci.edu/')
sleep(3)

# Prepare lists to store dataset details
dataset_name = []
task_list = []
data_type = []
attribute_type = []
no_of_instances = []
no_of_attribute = []
year_list = []

# Navigate to the dataset page
url = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/header/nav/ul/li[1]/a').get_attribute('href')
driver.get(url)

# Expand all dataset sections
expand_all = driver.find_element(By.XPATH, '//div[@class="swap"]')
sleep(2)
expand_all.click()
sleep(2)

# Collect dataset details
boxes = driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]')
for box in boxes:
    
    # Data Name
    dataset_name.extend([name.text for name in box.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')])
    
    # Task list
    task_list.extend([task.text for task in box.find_elements(By.XPATH, '//p[@class="truncate"]')])
    
    # Data Type
    data_type.extend([td.text for td in box.find_elements(By.XPATH, '//tbody[@class="border"]//tr//td[1]')])
    
    # Attribute type
    attribute_type.extend([td.text for td in box.find_elements(By.XPATH, '//tbody[@class="border"]//tr//td[2]')])
    
    # No of instances
    no_of_instances.extend([ins.text.split(" ")[0] for ins in box.find_elements(By.XPATH, '//div/div/div[2]/div/div[3]/span')])
    
    # No of attribute
    no_of_attribute.extend([att.text for att in box.find_elements(By.XPATH, '//div/div/div[2]/div/div[4]/span')])
    
    # Year     
    year_list.extend([year.text for year in box.find_elements(By.XPATH, '//tbody[@class="border"]//tr//td[3]')])

# Store the data in a dictionary
details = {
    "Dataset Name": dataset_name,
    "Task": task_list,
    "Data Type": data_type,
    "Attribute Type": attribute_type,
    "No of Instances": no_of_instances,
    "No of Attribute": no_of_attribute,
    "Year": year_list
}

# Create a DataFrame and store all data
df = pd.DataFrame(details)

# Close the Chrome WebDriver
driver.close()

# display the DataFrame
df

,Dataset Name,Task,Data Type,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,"A small classic dataset from Fisher, 1936. One...",Biology,Real,150,4 Features,7/1/1988
1,Dry Bean,"Images of 13,611 grains of 7 different registe...",Biology,"Integer, Real",13.61K,16 Features,9/14/2020
2,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Health and Medicine,"Categorical, Integer, Real",303,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Biology,Real,3.81K,7 Features,10/6/2019
4,Raisin,Images of the Kecimen and Besni raisin varieti...,Biology,"Real, Integer",900,8 Features,8/14/2023
...,...,...,...,...,...,...,...
95,Adult,Predict whether income exceeds $50K/yr based o...,Social Science,"Categorical, Integer",48.84K,14 Features,5/1/1996
96,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Health and Medicine,Real,569,30 Features,11/1/1995
97,Wine,Using chemical analysis to determine the origi...,Physics and Chemistry,"Integer, Real",178,13 Features,7/1/1991
98,Wine Quality,"Two datasets are included, related to red and ...",Business,Real,4.9K,12 Features,10/7/2009
99,Bank Marketing,The data is related with direct marketing camp...,Business,"Categorical, Integer",45.21K,17 Features,2/14/2012